extends partials/header

block content
  // Begin page content
  main.container(role='main')
    h1.mt-5 Express on Netlify
    p.lead Welcome to Express on Netlify.
    p
      | Visit 
      a(href='/triggerAuth') Verify with this App with Salesforce
  include partials/footer
    